.container
{
    height:500px;
    width:500px;
    background-color:green;
    border:3px solid red;
    display:flex;
} 
.box{
    height:150px;
    width:150px;  
    margin:20px;
    border:2px solid orange;
    background-color:aqua;
    /* transition:2s;
     */
     /* transition-property:background-color;
     transition-delay:5s; */
     transition:all 3s ease 3s ;



}
.box:hover{
    transform:rotate(45deg);
    background-color:red; 
}