.container
{
    border:1px solid brown;
    background-color: yellow;

    height:700px;
    width:600px;

    display:grid;

    grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(2,100px);

    /* grid-gap:10px; */

     /* justify-content:start;
    justify-content:end;
    justify-content:center;
    justify-content:space-between;
    justify-content:space-around;
    justify-content:space-evenly;
      */

/* align-items:start;
align-items:stretch;
align-items:center;
align-items:flex-end; */

place-content:center;
 


}
.box{
    border:1px solid black;
    background-color: aqua;
}
/* #box1{
    /* justify-self:start;
    justify-self:end;
    justify-self:center;  */
     
    /* align-self:center;
    align-self:start; */

